:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
@font-face {
  font-family: Cantrell-Regular;
  src: url(../Assets/cantarell/Cantarell-Regular.ttf);
}
@font-face {
  font-family: Cantrell-Bold;
  src: url(../Assets/cantarell/Cantarell-Bold.ttf);
}
body {
  font-family: Cantrell-Regular, sans-serif;
  font-size: 18px;
}
